<ul class="sidebar-nav">
  <li><a href="/catalog">Home</a></li>
  <li><a href="/catalog/game">All Games</a></li>
  <li><a href="/catalog/console">All Consoles</a></li>
  <li><a href="/catalog/genre">All Genres</a></li>
  <li><a href="/catalog/publisher">All Publishers</a></li>
  <li><a href="/catalog/developer">All Developers</a></li>
  <li><hr></li>
  <li><a href="/catalog/games/create">Create new games</a></li>
  <li><a href="/catalog/consoles/create">Create new consoles</a></li>
  <li><a href="/catalog/genres/create">Create new genres</a></li>
  <li><a href="/catalog/publishers/create">Create new publishers</a></li>
  <li><a href="/catalog/developers/create">Create new developers</a></li>
</ul>