<ul class="sidebar-nav">
  <li><a href="/catalog">Home</a></li>
  <li><a href="/catalog/game">All Games</a></li>
  <li><a href="/catalog/console">All Consoles</a></li>
  <li><a href="/catalog/genre">All Genres</a></li>
  <li><a href="/catalog/publisher">All Publishers</a></li>
  <li><a href="/catalog/developer">All Developers</a></li>
  <li><hr></li>
  <li><a href="/catalog/game/create">Create new games</a></li>
  <li><a href="/catalog/console/create">Create new consoles</a></li>
  <li><a href="/catalog/genre/create">Create new genres</a></li>
  <li><a href="/catalog/publisher/create">Create new publishers</a></li>
  <li><a href="/catalog/developer/create">Create new developers</a></li>
</ul>